.OpenBtn {
  border: 1px solid #777777;
  border-radius: 5px;
  padding: 4px 24px;

  &:hover {
    box-shadow: 0 2px 8px 0 #FFFFFF;
  }

  &:active {
    opacity: 0.7;
  }
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: 0;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &_show {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}

.Sidebar {
  height: calc(100vh);
  background-color: #ffffff;
  z-index: 999;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  width: 360px;
  left: -100%;
  overflow-x: hidden;

  padding: 20px 10px;

  &_show {
    left: 0;
    opacity: 1;
    transition: all 0.25s ease-in-out;
  }

  &__Toggle {
    position: absolute;
    top: 25px;
    left: 20px;
  }

  &__Title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    color: #233038;
    height: 26px;
    padding: 0;
    text-align: center;
  }
}

.List {
  position: absolute;
  top: 80px;
  left: 20px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: transform 0.25s ease-in-out;
}

.ListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


.Nav {
  position: relative;
  display: flex;
  flex-direction: column;
}

.MenuItem {
  position: absolute;
  top: 20px;
  left: 20px;
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
}